{% extends "_includes/layouts/wrapper.njk" %}

{% block title %}It does work{% endblock %}

{% block content %}

  <div class="h-[300vh] mx-28  ">
    <div class="flex justify-center items-center">
      <span class="text-change">Good design</span><br/>
      <span class="change">is as little design<br/>as possibleeee</span>
     
    </div>
  </div>
{% endblock %}